@tailwind base;
@tailwind components;
@tailwind utilities;

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}
::-webkit-scrollbar {
  width: 1px;
}
/* ::-webkit-scrollbar-thumb {
  background-color: green;
}
::-webkit-scrollbar-track {
  background-color: transparent;
} */

@layer components {
  .align-element {
    @apply mx-auto max-w-7xl px-7;
  }

  .page-title {
    @apply capitalize text-3xl font-medium;
  }

  .page-grid {
    @apply grid md:grid-cols-3 md:gap-4 ;
  }

  .button-style {
    @apply py-2 px-4 rounded-full
  }
}